.footer-container {
  height: 250px;
  background-image: url("../../Images/footerBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-list a {
  text-decoration: none;
  color: black;
}
